@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - api</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/api.styles.css" asp-append-version="true" />
    @RenderSection("Styles", false)

    <script>
        const loggedIn = '@HttpContextAccessor.HttpContext.Session.GetInt32("id")' != '';
        const isAdmin = '@HttpContextAccessor.HttpContext.Session.GetInt32("isAdmin")' == 1;

        const send = async (method, endpoint, data, query) => {
            const response = await fetch(`/${endpoint}${query ? '?' + Query.encode(query) : ''}`, {
                method: method,
                headers: {
                    'Content-Type': data ? 'application/json' : 'plain/text',
                },
                body: data ? JSON.stringify(data) : undefined,
                credentials: 'include',
            });

            // if (endpoint !== 'logout' && response.status === 403) {
            //     window.location.href = '/logout';
            //     return {};
            // }

            if (response.headers.get('content-type')?.match(/application\/json/g)) {
                if (response.status !== 200) throw await response.json();
                return await response.json();
            } else {
                if (response.status !== 200) throw await response.text();
                return await response.text();
            }
        };
    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <li class="nav-item no-bullets">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Forum internetowe</a>
                </li>
                <div class="d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (@HttpContextAccessor.HttpContext.Session.GetInt32("id") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="newPost">Dodaj
                                    nowy post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="auth"
                                asp-action="logout">Wyloguj</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="register">Zarejestruj</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="login">Zaloguj</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - forum
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
